
body, li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Comfortaa', cursive;
}


p::selection{
    background-color: #825F8F;
    color: white;
}

h2::selection{
    background-color: #825F8F;
    color: white;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
}

ul a{
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

ul a:hover{
    color: #825F8F;
}

li{
    font-size: 20px;
}

.logo{
    width:130px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.cart{
    width: 35px;
    padding-right: 20px;
}

.cart_word{
    display: none;
}

.dog_principal{
    background-color: #EACDED;
    text-align: center;
    margin: auto;
    width: 100%;
    padding-bottom: 30px;
}

.dog_principal img{
    max-width: 100%;
}

.dog_principal h2{
    font-size: 27px;
    padding: 0 10px;
}

.dog_principal p{
    max-width: 60ch;
    font-size: 20px;
    margin: 0 auto;
}

#container_middle{
    margin: auto;
    max-width: 700px;
    text-align: center;
}

#container_middle h2{
    font-size: 27px;
    padding: 30px;
}

#container_middle p{
    font-size: 20px;
}

.dog_flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
}

.dog_flexbox p::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/heart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}

.dog_flexbox img{
    width: 300px;
}

.dog_flexbox img:hover{
    opacity: 0.75;
}

.dog_flexbox p{
    font-size: 20px;
    margin-bottom: 50px;
}

.background_products h2{
    background-color: #EACDED;
    font-size: 27px;
    text-align: center;
    padding: 8px;
    margin-bottom: 2px;
}

#goods{
    background-color: #EACDED;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 20px;
}

#goods img{
    max-width: 280px;
}

.bone_img{
    background-color: white;
    border-radius: 4px;
    max-height: 280px;
}

#goods a{
    text-decoration: none;
    color: black;
}

.products_margin{
    text-align:center;
    font-size: 16px;
}

.bag_text:hover{
    background-color: #825F8F;
    color: white;
}

.bag_text{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
}

#our_history h2{
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.loren_ipsum{
    font-size: 30px;
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 0%;
}

.white_background{
    max-width: 100%;
    background-color: white;
}

.container_form{
    background-color: #EACDED;
    text-align: center;
}

.container_form h2{
    font-size: 27px;
    padding: 5px;
}

input, textarea{
    width: 100%;
    height: 30px;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 15px;
    font-family: 'Comfortaa', cursive;
}

textarea{
    height: 150px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.form_width{
    max-width: 450px;
    margin:0 auto;
    padding-bottom: 10px;
}

.container-button{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.button{
    text-align: center;
    max-width: 25%;
    font-family: 'Comfortaa', cursive;
}

.button:hover{
    cursor: pointer;
    background-color: #825F8F;
    color: white;
}

footer{
    text-align: center;
}

footer img{
    max-width: 30px;
    margin: 25px;
}

.facebook{
    max-width: 17px;
}

.final{
    background-color: #F6F6F6;
    color: #B7B7B7;
    padding: 35px;
}

@media screen and (max-width: 1070px) {

    ul a{

        margin-left: 35px;
    }
    
}

@media screen and (max-width:930px) {

    ul a{

        margin-left: 20px;
    }

    li{
        margin-left: 10px;
    }

    .cart{
        margin-right: 10px;
    }
    
}


@media screen and (max-width:840px) {

    .cart{
        display: none;
    }

    .cart_word{
        display: block;
    }

    .bar{
        display: block;
        text-align: center;
        max-width: 100%;
    }

    .logo{
        padding: 10px;
        margin-right: 22px;
    }

    ul{
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    ul a{
        display: block;
        margin: auto;
        margin-bottom: 10px;
        background-color: #EACDED;
        max-width: 95%;
        border-radius: 5px;
        padding: 5px 0;
    }

    ul a:hover{
        background-color: #825F8F;
        color: white;
    }

    li{
        font-size: 23px;
    }

    .dog_principal h2{
        font-size: 20px;
    }

    .dog_principal p{
        font-size: 16px;
    }

    .loren_ipsum{
        font-size: 16px;

    }

    #our_history h2{
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .container_form h2{
        font-size: 20px;
    }

    .form_width{
        max-width: 300px;
    }

    #container_middle h2{
        font-size: 20px;
    }

    .dog_flexbox img{
        width: 350px;
        padding: 1px;
    }

    .dog_flexbox p{
        text-align: center;
        font-size: 10px;
    }

    .dog_principal p{
        max-width: 80%;
    }

    .button{
        padding-right: 15px;
    }
}

@media screen and (max-width:368px){
    .dogs{
       max-width: 90%;
       display: block;
       margin: 0 auto;
    }

    .products_margin{
        max-width: 100%;
    }

    .products_margin_img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    input, textarea{
        width: 80%;
    }
}


